<app-page-header [pageTitle]="'Consultar Produto'" buttonText="Cadastrar +" buttonLink="create"
  buttonClass="btn-success">
</app-page-header>

<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="table-roll">
      <table class="table table-hover" *ngIf="products.length" >
        <thead>
          <tr class="bg-danger text-light">
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td><strong>{{ product.name }}</strong></td>
            <td><strong>{{ product.description }}</strong></td>
            <td><strong>{{ product.price | currency }}</strong></td>
            <td>
              <a [routerLink]="['edit', product.id]" class="btn btn-outline-info btn-sm mr-2">Editar</a>
              <button (click)="deleteProduct(product.id)" class="btn btn-outline-danger btn-sm">Excluir</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
